<nav class="navbar navbar-dark bg-primary">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link sells-link" href="/sells">Продажи</a>
		</li>
		<li class="nav-item">
			<a class="nav-link goods-link" href="/goods">Товары</a>
		</li>
		<li class="nav-item">
			<a class="nav-link sellers-link" href="/sellers">Продавцы</a>
		</li>
		<li class="nav-item">
			<a class="nav-link clients-link" href="/clients">Покупатели</a>
		</li>
	</ul>
</nav>